.source {
  background-color: #F5F9FA;
  border: 1px solid blue;
  border-radius: 5px;
  overflow: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}
